.Input{
    padding: 13px;
    background-color: rgb(245, 245, 245);
    
}

.inputArea{
    min-width:100%;
    outline: none;
}

.placeholder{
    color: rgb(173, 173, 173);
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.inputArea:empty + .placeholder{
    opacity: 1;
}

.button{
    width: 35px;
    height: 35px;
    color: white;
    background:#e57373;
    outline: none;
    border: none;
    border-radius: 50%;
}
.button:focus{
    outline: none;
}

.inputContainer{
    margin: 0 5px;
    padding: 0 5px;
    width: calc(100% - (10px + 35px * 2));
}

